name: CI

on:
  push:
    branches:
      - "dev-*"
      - development
      - main
  pull_request:
    branches:
      - development

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Use Node js
        uses: actions/setup-node@v6
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm ci

      - name: Typecheck
        run: npm run typecheck

      - name: Lint
        run: npm run lint

      - name: Run Test (if present)
        run: npm test --if-test

      - name: Build (Next.js)
        run: npm run build
